#header
{
	background-color: rgba(40,43,119,0.9);
	height:50px;
	border:1px solid black;
	border-radius:5px;
	padding-bottom:20px;
	margin:10px;
	
}
h1
{
	text-align:center;
	font-style:bold;
	font-family:Showcard Gothic;
}
#nav ul
{
		box-shadow:inset 0px 0px 15px rgba(40,43,119,0.9);
		background-color:rgba(40,43,119,0.6);
		height:35px;
		padding-top:17px;
		text-align:center;
		margin:12px;
		list-style:none;
		border-radius:5px;
}


#nav ul li 
{
	
	display:inline;
	
}
#nav ul li a 
{
	text-decoration:none;
	color:white;
	margin:0px 70px;	
	font-weight:bold;
	font-size:1.2em;
	
}
#nav ul li a:hover 
{
	color:black;
	padding:10px 70px;
	background-color: rgba(40,43,119,0.9);	
	
}
#nav ul li a:visited;
{
	color:blue;
	padding:10px 70px;
	background-color: rgba(40,43,119,0.9);	
	
}

.main1
{
	background-image:url("lenovo.png");
	opacity:1.0;
	height:600px;
	margin:10px;
	color:white;
	width:900px;
	border-radius:5px;
	
}
.main1 p
{
	padding:0px 10px;
	font-size:16px;
	
}
.main1 h2
{
	padding-top:20px ;
	padding-left:10px;
	
}
 .img
{
	float:left;
	margin-bottom:200px;
	margin-left:10px;
	margin-right:10px;
}

	#footer ul
{
		background-color:rgba(40,43,119,0.6);
		height:35px;
		padding-top:17px;
		text-align:center;
		margin:12px;
		list-style:none;
		box-shadow:inset 0px 0px 15px rgba(40,43,119,0.9);
		border-radius:5px;
}

#footer ul li 
{
	
	display:inline;
	
}
#footer ul li a 
{
	text-decoration:none;
	color:white;
	margin:0px 70px;	
	font-weight:bold;
	font-size:1.2em;
	
}
#footer ul li a:hover 
{
	color:black;
	padding:10px 70px;
	background-color: rgba(40,43,119,0.9);	
}
#footer p
{
text-align:center;
color:black;
background-color: rgba(40,43,119,0.9);
margin:0px 12px;	
border-radius:5px;
}
.sidebar 
{
	background-color:rgb(64,147,142);
	width:400px;
	height:600px;
	float:right;
	border-radius:5px;
	margin:5px 10px;
	
}
.sidebar h2
{
	text-align:center;
}
.sidebar ul  
{
	list-style:none;
}
.sidebar ul li  
{
	text-align:center;
	padding:30px 0px;
}
